
body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+10,0d0d0d+34,010101+50,0a0a0a+53,4e4e4e+66,383838+87,1b1b1b+100 */
background: rgb(149,149,149); /* Old browsers */
background: -moz-linear-gradient(top, rgba(149,149,149,1) 10%, rgba(13,13,13,1) 34%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 66%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(149,149,149,1) 10%,rgba(13,13,13,1) 34%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 66%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(149,149,149,1) 10%,rgba(13,13,13,1) 34%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 66%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}




p{
	font-family: sans-serif; verdana;
	font-weight: bold;
	color: white;
	font-size: 18px;
}



div{
	width: 1034px;
}



h1{
	font-family: sans-serif; verdana;
	color: orange;
	font-size: 18px;
	font-weight: lighter; 
}



h2{
	font-family: sans-serif; verdana;
	color: #FF99FF;
	font-size: 18px;
	font-weight: lighter; 
}



h3{ font-family: sans-serif; verdana;
	font-color: white;
	font-size: 300px;
	position: top left;
}



img{
	padding-bottom: 100px;
}





.yes{
	position: absolute;
	top: 0px;
}



#right{
	position: right;
	margin: auto;
}



#gif{
	position: right;
	margin: absolute;
}


#link{
	position: fixed:

}








