body {
	background-color: #FFFFCC;
}

p {
	font-family: futura, sans-serif;
	font-size: 24px;
	color: #33FF33;
	line-height: 2.4em;
	text-align: left;
}

h1 { font-family: times, serif;\
	font-size: 48px;
	color: #000099;
	text-align: justify;
}

ul {font-size: 68px;
	color: purple;
	outline-color: green;
	font-family: futura, sans-serif;
}